@use './variables' as *;


@mixin mobile {
    @media screen and (min-width: $screen-mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $screen-tablet) {
        @content;
        .std-button {
            min-width: 150px;
            padding: 0 32px
        }
    
        h1 {
            font-size: 60px;
            line-height: 68px;
            font-family: AvenirBold;
        }
        
        h2 {
            font-size: 36px;
            line-height: 44px;
            font-family: AvenirBold;
        }
        
        h3 {
            font-size: 24px;
            line-height: 32px;
            font-family: AvenirDemi;
        }
        
        p {
            font-size: 14px;
            line-height: 22px;
            font-family: AvenirRegular;
        }
        
        h5 {
            font-size: 14px;
            line-height: 20px;
            font-family: AvenirRegular;
        }
    }
}

@mixin desktop {
    @media screen and (min-width: $screen-desktop) {
        @content;
    }
}
