@use './variables' as *;


@mixin mobile {
    @media screen and (min-width: $screen-mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $screen-tablet) {
        @content;
        .std-button {
            min-width: 9.375rem;
            padding: 0 2rem
        }
    
        h1 {
            font-size: 3.75rem;
            line-height: 4.25rem;
            font-family: AvenirBold;
        }
        
        h2 {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-family: AvenirBold;
        }
        
        h3 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-family: AvenirDemi;
        }
        
        p {
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-family: AvenirRegular;
        }
        
        h5 {
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-family: AvenirRegular;
        }
    }
}

@mixin desktop {
    @media screen and (min-width: $screen-desktop) {
        @content;
    }
}
