@use './colors' as *;

button.std-button {
    height: 40px;
    border-radius: 4px;
    background-color: $bandsite-black;
    color: white;
    width: 100%;
    border: 1px solid;

    &:hover {
        background-color: $bandsite-darkblack;
    }
}