@font-face {
  font-family: "AvenirNext";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format("OpenType");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format("OpenType");
  font-weight: 700;
}
.bold {
  font-family: AvenirBold;
}

.semi-bold {
  font-family: AvenirDemi;
}

.overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button.std-button {
  height: 40px;
  border-radius: 4px;
  background-color: rgb(50, 50, 50);
  color: white;
  width: 100%;
}
button.std-button:hover {
  background-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext";
  font-weight: 400;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirNext";
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: AvenirNext;
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirNext;
  font-weight: 400;
}

h4 {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNext;
  font-weight: 400;
}

h5 {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNext;
  font-weight: 400;
}

p {
  line-height: 25px;
  font-family: AvenirNext;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.nav-bar--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 50, 50);
  height: 85px;
}
.nav-bar__logo-container--logo {
  min-width: 120px;
  min-height: 20px;
  padding: 16px 0 0 0;
}
.nav-bar--menus {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: rgb(225, 225, 225);
  height: 100%;
  padding-top: 8px;
}
.nav-bar--menus-menu {
  text-align: center;
  width: 50%;
  list-style: none;
  border-bottom: 4px solid transparent;
}
.nav-bar--menus-menu:hover {
  border-bottom: 4px white solid;
  font-family: "AvenirNext";
  font-weight: 400;
}
.nav-bar--menus-menu:active {
  border-bottom: 4px white solid;
  font-family: AvenirNext;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .nav-bar--container {
    flex-direction: row;
    height: 70px;
  }
  .nav-bar__logo-container--logo {
    padding: 0 36px;
  }
  .nav-bar--menus {
    height: 100%;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-bar--menus-menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1px 36px;
    padding: 25px 0;
    margin: 0 36px;
  }
  .nav-bar--menus-menu:hover {
    border-bottom: 4px white solid;
  }
  .nav-bar--menus-menu:active {
    border-bottom: none;
  }
  .std-button {
    min-width: 150px;
    padding: 0 32px;
  }
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirDemi;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirRegular;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar--container {
    padding: 0 48px;
  }
  .std-button {
    min-width: 150px;
    padding: 0 32px;
  }
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirDemi;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirRegular;
  }
}
.hero-text {
  z-index: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.hero-section {
  height: 225px;
  background-image: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 36px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 470px;
  }
  .std-button {
    min-width: 150px;
    padding: 0 32px;
  }
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirDemi;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirRegular;
  }
}
.main-section {
  padding: 0 16px;
}
.main-section h2 {
  padding: 24px 0 16px 0;
  color: rgb(50, 50, 50);
}
.main-section__container--image {
  padding-bottom: 16px;
  width: 100%;
}
.main-section p {
  color: rgb(50, 50, 50);
  padding-bottom: 10px;
}
.main-section h3 {
  color: rgb(50, 50, 50);
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .main-section {
    padding: 0 36px;
  }
  .main-section h2 {
    padding: 48px 0 24px 0;
  }
  .main-section__container {
    position: relative;
    left: 10%;
    width: 80%;
    padding-bottom: 36px;
  }
  .main-section__container--image {
    width: 100%;
  }
  .main-section__content-container {
    display: flex;
    gap: 30px;
  }
  .main-section h3 {
    padding-top: 30px;
  }
  .std-button {
    min-width: 150px;
    padding: 0 32px;
  }
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirDemi;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirRegular;
  }
}
.gallery-section {
  padding: 24px 16px;
  background-color: rgb(250, 250, 250);
}
.gallery-section h2 {
  padding-bottom: 16px;
  font-family: AvenirDemi;
}
.gallery-section__photo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.gallery-section__photo-container--image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gallery-section {
    color: rgb(50, 50, 50);
    padding: 48px 36px;
  }
  .gallery-section h2 {
    padding-bottom: 24px;
  }
  .gallery-section__photo-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery-section__photo-container--image {
    width: calc(33.3333333333% - 10px - 1px);
  }
  .std-button {
    min-width: 150px;
    padding: 0 32px;
  }
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirDemi;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirRegular;
  }
}/*# sourceMappingURL=bio.css.map */