@font-face {
  font-family: AvenirRegular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format("OpenType");
  font-weight: 400;
}
@font-face {
  font-family: AvenirDemi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format("OpenType");
  font-weight: 600;
}
@font-face {
  font-family: AvenirBold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format("OpenType");
  font-weight: 700;
}
.bold {
  font-family: AvenirBold;
}

.semi-bold {
  font-family: AvenirDemi;
}

.divider {
  margin: 20px 0;
  border: 0;
  border-top: 2px solid rgb(225, 225, 225);
}

.divider-shows {
  margin: 15px 0;
  border: 0;
  border-top: 2px solid rgb(225, 225, 225);
}

.overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button.std-button {
  height: 40px;
  border-radius: 4px;
  background-color: rgb(50, 50, 50);
  color: white;
  width: 100%;
  border: 1px solid;
}
button.std-button:hover {
  background-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: AvenirRegular;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirDemi;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
}

h4 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirDemi;
}

h5 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
}

p {
  font-size: 0.8125rem;
  line-height: 1.5625rem;
  font-family: AvenirRegular;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.profile-image {
  background-color: rgb(225, 225, 225);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.comment-section h3 {
  margin: 0;
  font-size: 100%;
}
.comment-section-history {
  display: flex;
}
.comment-section__information {
  width: 100%;
}
.comment-section__information--namedate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-owner {
  color: rgb(50, 50, 50);
}

.comment-date {
  color: rgb(175, 175, 175);
  font-size: 13px;
  font-family: AvenirRegular;
}

.nav-bar--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 50, 50);
  height: 5.3125rem;
}
.nav-bar__logo-container--logo {
  min-width: 7.5rem;
  min-height: 1.25rem;
  padding: 1rem 0 0 0;
}
.nav-bar--menus {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: rgb(225, 225, 225);
  height: 100%;
  padding-top: 0.5rem;
}
.nav-bar--menus-menu {
  text-align: center;
  width: 50%;
  list-style: none;
  border-bottom: 0.25rem solid transparent;
}
.nav-bar--menus-menu:hover {
  border-bottom: 0.25rem white solid;
  font-family: AvenirNext;
  font-weight: 400;
}
.nav-bar--menus-menu:active {
  border-bottom: 4px white solid;
  font-family: AvenirNext;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .nav-bar--container {
    flex-direction: row;
    height: 4.375rem;
    padding: 0 2.25rem;
  }
  .nav-bar__logo-container--logo {
    padding: 0;
  }
  .nav-bar--menus {
    height: 100%;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-bar--menus-menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0.0625rem 2.25rem;
    padding: 1.5625rem 0;
    margin: 0 2.25rem;
  }
  .nav-bar--menus-menu:hover {
    border-bottom: 0.25rem white solid;
  }
  .nav-bar--menus-menu:active {
    border-bottom: none;
  }
  .std-button {
    min-width: 9.375rem;
    padding: 0 2rem;
  }
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirDemi;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar--container {
    padding: 0 3.9375rem;
  }
}
.hero-text {
  z-index: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.hero-section {
  height: 14.0625rem;
  background-image: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 1rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 29.375rem;
    padding: 0 2rem;
  }
  .std-button {
    min-width: 9.375rem;
    padding: 0 2rem;
  }
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirDemi;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section {
    height: 75vh;
    padding: 0 3.9375rem;
  }
}
.main-section {
  padding: 0 1rem;
}
.main-section h2 {
  padding: 1.5rem 0 1rem 0;
  color: rgb(50, 50, 50);
}
.main-section__container--image {
  padding-bottom: 1rem;
  width: 100%;
}
.main-section p {
  color: rgb(50, 50, 50);
  padding-bottom: 0.625rem;
}
.main-section h3 {
  color: rgb(50, 50, 50);
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .main-section {
    padding: 0 2.25rem;
  }
  .main-section h2 {
    padding: 3rem 0 1.5rem 0;
  }
  .main-section__container {
    position: relative;
    left: 10%;
    width: 80%;
    padding-bottom: 2.25rem;
  }
  .main-section__container--image {
    width: 100%;
  }
  .main-section__content-container {
    display: flex;
    gap: 1.875rem;
  }
  .main-section h3 {
    padding-top: 1.875rem;
  }
  .std-button {
    min-width: 9.375rem;
    padding: 0 2rem;
  }
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirDemi;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
  }
}
@media screen and (min-width: 1280px) {
  .main-section {
    padding: 0 3.9375rem;
  }
  .main-section h2 {
    padding: 3rem 0 2.25rem 0rem;
  }
}
.gallery-section {
  padding: 1.5rem 1rem;
  background-color: rgb(250, 250, 250);
}
.gallery-section h2 {
  padding-bottom: 1rem;
  font-family: AvenirDemi;
}
.gallery-section__photo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gallery-section__photo-container--image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gallery-section {
    color: rgb(50, 50, 50);
    padding: 3rem 2.25rem 1.5rem 2.25rem;
  }
  .gallery-section h2 {
    padding-bottom: 1.5rem;
  }
  .gallery-section__photo-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery-section__photo-container--image {
    width: calc(33.3333333333% - 0.625rem - 0.0625rem);
  }
  .std-button {
    min-width: 9.375rem;
    padding: 0 2rem;
  }
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirDemi;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-section {
    color: rgb(50, 50, 50);
    padding: 3rem 3.9375rem 1.5rem 3.9375rem;
  }
}
.footer-section {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 1.5rem 1rem;
}
.footer-section--icons {
  padding: 0.875rem 0;
  display: flex;
  list-style-type: none;
  gap: 1.875rem;
}
.footer-section__locations {
  padding-bottom: 1.875rem;
  display: flex;
  flex-direction: column;
}
.footer-section__locations--email {
  margin: 1rem 0;
}
.footer-section__locations--address {
  padding: 0;
  line-height: 130%;
}
.footer-section__locations--title:nth-child(n+2) {
  padding-bottom: 1.25rem;
}
.footer-section__copyright {
  font-size: 0.625rem;
}

.footer-logo--top {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding: 3rem 2.25rem 1.25rem 2.25rem;
  }
  .footer-section__locations {
    flex-direction: row;
    justify-content: flex-start;
    gap: 4.0625rem;
  }
  .footer-section__top-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-section__top-section--left {
    display: flex;
    gap: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .footer-logo--top {
    display: block;
  }
  .footer-logo--bottom {
    display: none;
  }
  .std-button {
    min-width: 9.375rem;
    padding: 0 2rem;
  }
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirDemi;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section {
    padding: 2.375rem 3.9375rem 1.25rem 3.9375rem;
  }
  .footer-logo--top {
    display: block;
  }
}
.comment-section {
  padding: 1.5rem 1rem;
  background-color: white;
  color: rgb(50, 50, 50);
}
.comment-section__image-container {
  margin-right: 10px;
  padding-top: 10px;
}
.comment-section .profile-image {
  width: 36px;
  height: 36px;
  background-size: cover;
  border-radius: 50%;
}
.comment-section .profile-image-std {
  width: 36px;
  height: 36px;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
.comment-section__submit-container {
  display: flex;
}
.comment-section__form-container {
  width: 100%;
}
.comment-section .comment-form {
  width: 100%;
}
.comment-section .comment-form input {
  border: 1px solid;
  margin: 4px 0 10px 0;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  border-color: rgb(225, 225, 225);
  padding: 12px;
  font-size: 12px;
  background-color: rgb(250, 250, 250);
}
.comment-section .comment-form input:active {
  border-color: black;
}
.comment-section .comment-form textarea {
  border: 1px solid;
  margin: 4px 0 10px 0;
  height: 100px;
  width: 100%;
  border-radius: 4px;
  border-color: rgb(225, 225, 225);
  padding: 12px;
  font-size: 12px;
  resize: none;
  background-color: rgb(250, 250, 250);
}
.comment-section .comment-form--input-label {
  color: rgb(225, 225, 225);
  font-size: 10px;
}
.comment-section .comment-form--button {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .comment-section {
    padding: 48px 36px 48px 24px;
  }
  .comment-section .profile-image {
    width: 48px;
    height: 48px;
  }
  .comment-section .profile-image-std {
    width: 48px;
    height: 48px;
  }
  .comment-section__container {
    padding: 0 8%;
  }
  .comment-section h2 {
    margin-bottom: 20px;
    font-family: AvenirDemi;
  }
  .comment-section__image-container {
    padding-top: 4%;
  }
  .comment-section__image-container {
    padding-top: 5px;
  }
  .comment-section .comment-form input {
    height: 48px;
  }
  button.std-button {
    width: 10%;
    float: right;
  }
  .std-button {
    min-width: 9.375rem;
    padding: 0 2rem;
  }
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirDemi;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
  }
}
@media screen and (min-width: 1280px) {
  .comment-section {
    padding: 48px 63px 24px 63px;
  }
  .comment-section__container {
    padding: 1% 30%;
  }
  .comment-section .comment-form input {
    height: 48px;
  }
  #form-profile-image {
    padding-top: 23px;
  }
}/*# sourceMappingURL=bio.css.map */